{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "14.17.0"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from"
    ]
}
